* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}


/*logo*/

header h1 {
    text-align: center;
    margin: 5vh 0;
}

span#logo span#yellow {
    color: rgb(230, 234, 0);
}

span#logo span#blue {
    color: rgb(0, 106, 255);
}

span#logo span.Courier_New {
    font-family: 'Courier New', Courier, monospace;
}

span#logo span#red {
    color: rgba(215, 0, 0, 0.837);
}


/*table*/

main table {
    margin-left: auto;
    margin-right: auto;
}

main table tr td .brown {
    background-color: brown;
}

main table tr td .burlywood {
    background-color: burlywood;
}

main table tr td .space {
    width: 3.5vw;
    height: 3.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*chess pieces*/

main table tr td .space img {
    height: 100%;
    max-width: 100%;
}

.circle {
    width: 60%;
    height: 60%;
    background-color: rgba(45, 252, 45, 0.712);
    border-radius: 50%;
}

.knockable {
    width: 60%;
    height: 60%;
    background-color: rgba(238, 50, 26, 0.712);
    border-radius: 50%;
}